<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>

    </nav>
    <form action="/contact" method="POST">
      {{!-- {{#each result.rows}} --}}
      <input type="text" id="name" name="name" value="{{data.name}}" />
      <input type="hidden" id="id" name="id" value="{{data.id}}" />
      <input type="password" id="password" name="password" />
      <button type="submit">Submit</button>
      {{!-- {{/each}} --}}
    </form>
    <hr />

  </body>
</html>